.panes {
  width: 100%;
  padding: 5px;
  margin:5px;
}
.comments {
  width: 100%;
  padding: 5px;
  margin:5px;

}
#title {
  width: 300px;
}

.submit {
  text-align: center;
  font-size: 24px;
  width: 100px;
  height: 50px;
}

.error {
  color: red;
}
.newform {
  text-align: center;
}

input, textarea {
  color: $black;
}
