@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Marvel:400,700);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

html {font-size: 1em;}

body {
  background-image: url('../images/tweed.png');
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $white;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  color: $white;
  font-family: 'Marvel', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

a:hover {
  text-decoration: underline;
  color: $lightgrey;
}
a {
  font-weight: bold;
  color: $white;
}
