div.row.title
  label(for='title') Title
  p
    input#title(type='text' name='title' value=(data ? data.title : ''))
div.row
  div.collum
    label(for='pane1') First Pane  
      a(href='https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=how+to+copy+an+image+URL' target='_blank') (Image URL)
    p
      input#pane1.panes(type='url' name='pane1' value=(data ? data.pane1 : ''))  
  div.collum
    label(for='pane1') Second Pane 
      a(href='https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=how+to+copy+an+image+URL' target='_blank') (Image URL)
    p
      input#pane2.panes(type='url' name='pane2' value=(data ? data.pane2 : ''))
  div.collum
    label(for='pane1') Third Pane 
      a(href='https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=how+to+copy+an+image+URL' target='_blank') (Image URL)
    p
      input#pane3.panes(type='url' name='pane3' value=(data ? data.pane3 : ''))
div.row
  div.collum    
    label(for='comment1') First Blurb
    p
      textarea#comment1.comments(name='comment1' rows='4')= data && data.comment1
  div.collum
    label(for='comment2') Second Blurb
    p
      textarea#comment2.comments(name='comment2' rows='4')= data && data.comment2
  div.collum
    label(for='comment3') Third Blurb
    p
      textarea#comment3.comments(name='comment3' rows='4')= data && data.comment3

      
