doctype html
html
  head
    title= title
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    if currentUser
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="/") TeleComics
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
              li(class="active")
                a(href="/telecomics/new") New TeleComic
                  span(class="sr-only") (current)
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") View TeleComics
                  span(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(href="/telecomics/view/created") Your TeleComics
                  li
                    a(href="/telecomics/") Sent TeleComics
                  li
                    a(href="/telecomics/recieved") Received TeleComics
            form(class="navbar-form navbar-right" action='/telecomics/logout' method='post')
              button(type="submit" class="btn btn-default") Logout
    else
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="/") TeleComics
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            form(class="navbar-form navbar-right" role="search" action='/telecomics/login' method='post')
              div(class="form-group")
                input(type="text" class="form-control" placeholder="Email" name='email')
                input(type="password" class="form-control" placeholder="Password" name='password')
              button(type="submit" class="btn btn-default") Login
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li(class="active")
                  a(href="/telecomics/signup") Signup
                    span(class="sr-only") (current)
      .container.header
        block head
    main
      .container
        block content
    footer
      .container
        block foot
        
        
    script(src='/javascripts/app.js')
  block javascript
