doctype html
html
  head
    title= title
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    if currentUser
      nav(class="navbar navbar-inverse")
        div(class="container-fluid container")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="/")
              img.menulogo(src='/images/logoYellow.png' alt='logo')
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
              li(class="active")
                a(href="/telecomics/new") + New TeleComic
                  span(class="sr-only") (current)
              li
                a(href="/telecomics/feed") Public Feed
                  span(class="sr-only") (current)
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") View TeleComics
                  if unreadCount > 0
                    span  | 
                    span.unread #{unreadCount} New
                  span(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(href="/telecomics/view/created") Your TeleComics
                  li
                    a(href="/telecomics/") Sent TeleComics
                  li
                    a(href="/telecomics/received") Received TeleComics
            form(class="navbar-form navbar-right" action='/telecomics/logout' method='post')
              button(type="submit" class="btn btn-default") Logout
            form(class="navbar-form navbar-right" role="search" method="post" action='/telecomics/imagesearch' target="_blank")
              div(class="form-group")
                input(type="text" class="form-control" placeholder="Google Image Search" name='search')

    else
      nav(class="navbar navbar-inverse")
        div(class="container-fluid container")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="/")
              img.menulogo(src='/images/logoYellow.png' alt='logo')
          div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
            form(class="navbar-form navbar-right" role="search" action='/telecomics/login' method='post')
              div(class="form-group")
                input(type="text" class="form-control" placeholder="Email" name='email')
                span  
                input(type="password" class="form-control" placeholder="Password" name='password')
              span 
              button(type="submit" class="btn btn-default") Login
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li(class="active")
                  a(href="/telecomics/signup") Signup
                    span(class="sr-only") (current)
      .container.header
        block head
    main
      .container
        block content
    footer
      .container
        block foot
        
        
    script(src='/javascripts/app.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-66005013-1', 'auto');
      ga('send', 'pageview');
  block javascript
