extends layout

block head
  h1 New TeleComic
block content
  if errors
    include _errors
  form.newform(action='/telecomics' method='post')
    include _comicform
    input.submit(type='submit' value='Create')
  include _comic
