extends ../layout

block content
  h1 Signup
  if messages
    div
      ul
        each message in messages
          li= message
  if (errorlist)
       div
        ul 
         for item in errorlist
          li= item
  form(action="/teleComics/signup", method="post")
   label(for="email") Enter Your Email: 
   p   
   input(type="text" name="email" id="email")
   p 
   label(id="password") Enter Your Password:   
   p 
   input(type="password" name="password" id="password")
   p
   input(type="submit" value="Signup")
  
